@charset "UTF-8";
@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";

*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

html, body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}


section
{
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

section > *
{
    display: -webkit-inline-box;
}

.widget-holder
{
    -webkit-box-flex: 1;
    display: -webkit-box;
    position: relative;
}

.widget-iframe
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.widget-iframe iframe
{
    width: 100%;
    height: 100%;
    border: 0;
}

body {
    color: rgb( 49, 49, 49 );
    background-color: #EFEFEF;

    font-family: 'PT Sans', Tahoma, Helvetica, sans;
    line-height: 1.5em;
    padding: 1.5em 3em;
}

h2 {
    margin-top: 5em;
    margin-bottom: 2em;
}

#wdgt-gallery iframe
{
    max-height: 80%;
    height: 70%;
}